
    .continer{
        display: flex;
        box-shadow: 0 3px 10px rgb(0 0 0 / 12%);
        background-color: rgba(0, 0, 0, 0.151);;
        width: 68%;
        height: 655.34px;
            margin: 20px;
            line-height: 20px;
        
    }
    h1{
        text-align: start;
    }
    .Con{
        display: flex;
        justify-content: center;
        align-items: stretch;
    }
    .boxx img{
        width: 556.97px;
    height: 100%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    
    }
    .basic-info h4{
        width: 200px;
    }
    #btn{
        width: 302px;
        height: 45px;
        padding: 5px;
        border-radius: 20px;
        font-weight: bolder;
        cursor: pointer;;
        background-color: rgb(255, 255, 255);
        font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #F61B5A;
    margin-left:90px;
    margin-top: 32px;
    }
    
    basic-text{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    h1{
        font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    /* or 133% */
    
    letter-spacing: -0.022em;
    
    /* Dark Gray / Dark Gray 2 */
    
    color: #252C32;
    
    
    }
    h5{
    height: 30.04px;
    text-align: start;
    
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    letter-spacing: -0.006em;
    
    /* Mid Gray / Mid Gray 2 */
    
    color: #6E7C87;
    
    }
    .text{
        display: flex;
        align-items: center;
        letter-spacing: 2px;
    }
    .basic-info{
        margin-left: 30px;
        text-align: start;
    }
    
    .colorlayout{
        display: flex;
    }
    .red{
        border: none;
        background-color: #F61B5A;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-left: 5px;
        margin-top: 20px;
    }
    #bl{
        background-color: black;
    }
    
    #gr{
        background-color: rgb(77, 0, 201);
    }
    
    @media screen and (min-width:768px)and (max-width:1023px){
        .continer{
            display: flex;
            box-shadow: 0 3px 10px rgb(0 0 0 / 12%);
            background-color: rgba(184, 32, 32, 0.151);;
            width: 68%;
            height: 655.34px;
                margin: 20px;
                line-height: 20px;
            
        }
        .Con{
            display: flex;
           flex-wrap: wrap;
           text-align: center;
        }
        .boxx img{
            width: 556.97px;
        height: 100%;
        }
        
    }
@media screen and (max-width : 550px) {
    .continer{
        display: flex;
        flex-direction: column;
        height: 650px;
        border-radius: 20px;
    }
    .boxx{
        width: 66%;
    }
    .boxx img{
        width: 150%;
        border-radius: 20px;
        height: 150px;

    }
    #btn{
        margin-left: -5px;
        width: 200px;
    }
}